<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-default btn-lg" (click)="onGoBackClicked()">&#10094; Back</button>
    </div>
  </div>
  <div class="row p-4">
    <div class="emptyCartNote" [ngClass]="{ 'd-none': items.length > 0}">
      <p class="alert alert-danger">Cart is empty!</p>
    </div>

    <!--Cart Items-->
    <!--rubric47-->
    <div class="col-12 col-sm-12 col-md-8 bg-light" [ngClass]="{ 'd-none': items.length <= 0}">
      <div *ngFor="let item of items; let i = index;" class="row p-2 item-hover">

        <div class="col-12 col-sm-4 col-md-2">
          <img class="img-fluid" [src]="item.imagelink" [title]="item.description" [alt]="item.name">
        </div>
        <div class="col-12 col-sm-2 col-md-3">
          <span>{{item.name}}</span>
        </div>
        <div class="col-12 col-sm-1 col-md-2">
          <span>Price: {{item.price}}$</span>
        </div>
        <div class="col-12 col-sm-2 col-md-2">
          <input class="qtyClass text-center" type="number" [value]="item.qty" placeholder="Qty"  (change)="onItemQtyChange($event, item, i)">
        </div>
        <div class="col-12 col-sm-2 col-md-2">
          Total: {{ item.price * item.qty }}$
        </div>
        <div class="col-12 col-sm-1 col-md-1">
          <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteItem($event, i)">X</button>
        </div>

      </div>
      <!--rubric49-->
      <div class="row">
        <div class="col-12 text-right">
          <p>Subtotal: {{ subtotal }}$</p>
          <p>Shipping: {{ shipping }}$</p>
          <p>Tax: {{ tax }}$</p>
          <p>Total: {{ total }}$</p>
        </div>
      </div>
    </div>

    <!--Cart checkout details-->
    <div class="col-12 col-sm-12 col-md-4 p-4 border" [ngClass]="{ 'd-none': items.length <= 0 }">

      <!--rubric48-->
      <h3>Enter Shipping Details</h3>
      <!--rubric51-->
      <form #checkoutForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text" id="nameTextBox" class="form-control" required placeholder="Name"
            [(ngModel)]="name" name="name" #nameCtrl="ngModel">
          <!--rubric52-->
          <div [hidden]="nameCtrl.valid || nameCtrl.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <input
            type="text" id="addressTextBox" class="form-control" required placeholder="Address"
            [(ngModel)]="address" name="address" #addressCtrl="ngModel">
          <!--rubric52-->
          <div [hidden]="addressCtrl.valid || addressCtrl.pristine"
               class="alert alert-danger">
            Address is required
          </div>
        </div>

        <div class="form-group">
          <input
            type="text" id="cityTextBox" class="form-control" required placeholder="City"
            [(ngModel)]="city" name="city" #cityCtrl="ngModel">
          <!--rubric52-->
          <div [hidden]="cityCtrl.valid || cityCtrl.pristine"
               class="alert alert-danger">
            City is required
          </div>
        </div>

        <div class="form-group">
          <input
            type="text" id="phoneTextBox" class="form-control" required placeholder="Phone number"
            [(ngModel)]="phone" name="phone" #phoneCtrl="ngModel">
          <!--rubric52-->
          <div [hidden]="phoneCtrl.valid || phoneCtrl.pristine"
               class="alert alert-danger">
            Phone number is required
          </div>
        </div>
        <!--rubric50-->
        <button type="submit" class="btn btn-success" [disabled]="!checkoutForm.form.valid">Checkout</button>
      </form>

    </div>
  </div>
</div>


