#appFooter {
  background-color: silver;
  margin-top: 60px;
  /*padding: 10px;*/
}

#appFooter .footer-copyright {
  background-color: grey;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#appFooter .row {
  padding: 20px;
}
#appFooter .footer-copyright p {
  /*margin: 10px;*/
}
