<div class="container-fluid">

  <div class="row navbar navbar-light bg-light border">

    <div class="col-sm-6 col-md-6">
      <h4>
        {{ subcategoryName && subcategoryName.length > 0 ?
        'Showing ' + visibleProductsCount + ' of ' + subcategory.items.length + ' items in ' +  subcategoryName :
        defaultSubcategory }}
      </h4>
    </div>

    <div class="col-sm-3 col-md-3">
      <label for="onlyInStockCheckBox">In stock only: </label>
      <input type="checkbox" id="onlyInStockCheckBox"
             [checked]="inStockOnly"
             (change)="onShowInStock()">
    </div>
    <div class="col-sm-3 col-md-3">
      <label for="productSortingSelect">Sort by: </label>
      <select id="productSortingSelect" (change)="onSortProducts($event)">
        <option *ngFor="let key of sortingKeys" [value]="key">{{key}}</option>
      </select>
    </div>

  </div>

  <div class="row content-row">
    <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2">

      <div id="border">
        <div class="list-group">

          <div *ngFor="let item of products; let i = index">
            <a [href]="'#' + item.category.replace(' ', '_')" class="list-group-item list-group-item-light font-weight-bold" data-toggle="collapse" data-parent="#MainMenu">{{ item.category }} &#9663;</a>
            <div class="collapse" [id]="item.category.replace(' ', '_')">

              <a
                *ngFor="let subCat of item.subcategories;"
                [routerLink]="['/shopping']"
                [queryParams]="{ name: subCat.name }"
                class="list-group-item">{{ subCat.name }}
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-10">

      <div class="row">
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 border dock-bottom"
          *ngFor="let item of subcategory.items; let i = index"
          [ngClass]="{ 'd-none': inStockOnly ? item.stock <= 0 : false }">
          <div class="thumbnail">
            <div class="caption row">
              <div class="col-12 font-weight-bold"><a [routerLink]="['/product']" [queryParams]="{ name: item.name }">{{item.name}}</a></div>
              <div class="col-6"><span>Stock: {{item.stock}}</span></div>
              <div class="col-6"><span>{{item.price}}$</span></div>
            </div>
            <div class="row">
              <div class="col">
                <a [routerLink]="['/product']" [queryParams]="{ name: item.name }">
                  <img [src]="item.imagelink" [alt]="item.name" class="img-fluid" [title]="item.description" [alt]="item.name">
                </a>
              </div>
            </div>

          </div>

          <div class="row product-footer bg-light align-middle">
            <div class="col-4">
              <button
                [disabled]="item.stock <= 0"
                class="btn btn-outline-secondary"
                title="Add one item to cart"
                (click)="onAddToCart(item)">Add</button>
            </div>
            <div class="col-8 text-right">
              Rating: {{item.rating}}/5
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
